<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/register/auth.css">
</head>
<body>
<section class="main">
    <div class="main_content"
         data-register-url="{{ register_url }}">
        <h1>Регистрация</h1>
        <input type="text" placeholder="Имя пользователя" id="username">
        <input type="text" placeholder="Имя" id="firstName">
        <input type="text" placeholder="Фамилия" id="lastName">
        <input type="password" placeholder="Пароль" id="password">
        <button id="auth-btn">Регистрация</button>
        <a href="http://localhost:8009/sign-in">Уже есть аккаунт? Войдите</a>
    </div>
</section>
<script src="/static/register.js"></script>
</body>
</html>